<html lang="en">
    <%- include ('head_Tag');%>
<body>
    <div class="container">
        <div class="bubbles">
            <%- include ('bubbles');%>
        </div>
    </div>
    <div class="navbar">
        <div class="navbar_background"></div>
        <div class="content_navbar">
            <header id="layout-header">
                <div class="mini-logo">
                    <a href='/' id="titlee">
                        PUZZLE GAME
                    </a>
                </div>
                <div class="auth-links">
                    <a href="/admin/locations" class="profile-name">Admin</a>
                    <a href="/admin/logout" class="neon-btn-nav">Sign Out</a>
                    <a href="/admin" class="neon-btn-nav">Back</a>
                </div>
            </header>
        </div>
    </div>
    <div class="levels-admin" style="z-index:5;width:100vw;display: flex;justify-content: center;align-items: center;flex-direction: column;gap:2rem">
        <table style="width:20vw;text-align: center;">
            <tr>
                <th>IP-ADDRESS</th>
                <th></th>
            </tr>
            <% for (let i=0;i<ips.length;i++) {%>
                <tr style="color: var(--clr-neon-gr);">
                    <td style="overflow: hidden;"><%=ips[i].ipAddress%></td>
                    <td ipaddress="<%=ips[i].ipAddress%>" class="ip-address-delete-link"style="color: rgb(233, 19, 19)">Delete</td>
                </tr>
            <% } %>
            </table>
            <a href="" id="add-ip-form-btn"class="neon-button-green" >Add IP</a>
    </div>
    <div id="add-ip-form">
        <div id="delete-form">
            <div>Add IP Address</div>
            <input type="text" placeholder="write IP address" id="write_IP_Address" style="font-size: 1.6rem; padding: 0.2rem;">
            <div style="width:30vw;display: flex;justify-content: space-around;">
                <a href="/admin/addlocation" id="add-location-confirm" style="text-decoration: none;cursor: pointer;color: rgb(0, 209, 0);">Add IP</a>
                <a href="" id="add-location-cancel" style="text-decoration: none;cursor: pointer;color: rgb(209, 0, 0);">Cancel</a>
            </div>
        </div>
          </div>
    </div>
    <div id="delete-user-yes-no">
        <div id="delete-form">
          <div>Are You sure to delete this location <span id="ipaddress-display"></span>?</div>
          <div style="width:30vw;display: flex;justify-content: space-around;"><a href="/admin/deleteLocation/" id="delete-user-yes">Yes</a><a href="" id="delete-user-no">No</a></div>
        </div>
      </div>
    <!-- <script src="/js/index.js"></script> -->
    <script src="/js/adminlocation.js"></script>
</body>
</html>