<div class="container">
    <div class="bubbles">
        <%- include ('bubbles');%>
    </div>
</div>
<div class="navbar">
    <div class="navbar_background"></div>
    <div class="content_navbar">
        <%- include ('navbar');%>
    </div>
</div>