<!DOCTYPE html>
<html lang="en">
    <%- include ('head_Tag');%>
<body>
    <%- include ('background');%>
    <div class="levels" style="z-index:5">
          <form action="/passwordChanged" method="post">
            <input type="hidden" name="user_id" value=<%= user._id%>>
            <input type="password" name="new_password" id="password" placeholder="new password" class="input-field" required>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="confirm new password" class="input-field" required>
            <button type="submit" id="registerMe" class="neon-btn-nav" style="width:11vw" disabled>Set password</button>
        </form>
        <br>
        <div style="margin-top: 30px;">
          <div class="password-conditions">-password of atleast length 8</div>
          <div class="password-conditions">-password contains symbols</div>
          <div class="password-conditions">-password contains numbers</div>
          <div class="password-conditions">-password contains capital letters</div>
          <div class="password-conditions">-passwords match</div>
        </div>
    </div>
    <script src="/js/password.js"></script>
</body>
</html>