<html lang="en">
    <%- include ('head_Tag');%>
<body>
    <%- include ('background');%>
    <%- include ('secondBanner');%>
    <div class="levels" style="z-index:5">
        <form action="" method="POST" id="login_form"class="formlayout">
          <h2 class="question">I am light as a feather, yet the strongest man cannot hold me for more than five minutes. What am I?</h2>
            <input type="hidden" name="user_id" id="user_id" value=<%= userId %>>
            <input type="hidden" name="level" id="level" value="2">
            <div>
              <input type="text" name="answer" id="answer" value="" class="input-field" placeholder="Enter answer" required/>
            </div>
            <br>
            <button type="submit" class="neon-button" id="login" >GO!</button>
            <a href="https://www.youtube.com/watch?v=nJG0dCoB1vA" target="_blank" class="neon-button-yellow">Clue</a>
            <a href="/" class="neon-button-red">Back</a>
            <a href="/leaderboard/2" class="neon-button-blue" >leaderboard</a>
          </form>
    </div>
    <script src="/js/answerCheck.js"></script>
</body>
</html>