<html lang="en">
    <%- include ('head_Tag');%>
<body>
    <%- include ('background');%>
    <div class="levels" style="z-index:5">
      <div id="success">
        <h1>SUCCESS!!!</h1>
        <h3 id="accuracy">Accuracy</h3>
      </div>
        <h1 id="timeSpent" startTime="<%= start_time %>" style="color:rgb(75, 202, 244)"></h1>
        <form action="" method="POST" id="login_form"class="formlayout">
            <h1 style="color:rgb(243, 39, 39)">Question 5</h1>
            <h3 style="color:rgb(75, 202, 244)">Answer:</h3>
            <input type="hidden" name="user_id" id="user_id" value=<%= userId %>>
            <input type="hidden" name="level" id="level" value="5">
            <div>
              <input type="text" name="answer" id="answer" value="" class="input-field" placeholder="Enter answer" required/>
            </div>
            <br>
            <button type="submit" class="neon-btn-nav" id="login" >GO!</button>
          </form>
    </div>
    <script src="/js/answerCheck.js"></script>
</body>
</html>