<html lang="en">
    <%- include ('head_Tag');%>
<body>
    <%- include ('background');%>
    <%- include ('secondBanner');%>
    <div class="levels" style="z-index:5">
        <form action="" method="POST" id="login_form"class="formlayout">
            <h1 class="question">What runs around the whole yard without moving?</h1>
            <input type="hidden" name="user_id" id="user_id" value=<%= userId %>>
            <input type="hidden" name="level" id="level" value="1">
            <div>
              <input type="text" name="answer" id="answer" value="" class="input-field" placeholder="Enter answer" required/>
            </div>
            <br>
            <button type="submit" class="neon-button" id="login" >GO!</button>
            <a href="https://www.youtube.com/shorts/dVOB3vuqErU" target="_blank" class="neon-button-yellow" id="level1">Clue</a>
            <a href="/" class="neon-button-red" id="level1">Back</a>
            <a href="/leaderboard/1" class="neon-button-blue" >leaderboard</a>
          </form>
    </div>
    <script src="/js/answerCheck.js"></script>
</body>
</html>