<html lang="en">
    <%- include ('head_Tag');%>
    <head>
      <link rel="stylesheet" href="/css/levels.css">
  </head>
<body>
    <%- include ('background');%>
    <div class="levels">
      <%- include ('secondBanner');%>
        <form action="" method="POST" id="login_form"class="formlayout form_levelwise">
          <h1 class="question">What is always in front of you but can't be seen?</h1>
            <input type="hidden" name="user_id" id="user_id" value=<%= userId %>>
            <input type="hidden" name="level" id="level" value="5">
            <input type="text" name="answer" id="answer" value="" class="input-field" placeholder="Enter answer" required/>
            <button type="submit" class="neon-button level-btn-width" id="login" >GO!</button>
            <a href="https://www.forbes.com/sites/bernardmarr/2022/02/07/the-5-technologies-that-will-change-the-future-of-the-human-race/?sh=75f048718f1c" target="_blank" class="neon-button-yellow level-btn-width">Clue</a>
            <a href="/" class="neon-button-red level-btn-width">Back</a>
            <a href="/leaderboard/5" class="neon-button-blue level-btn-width" >leaderboard</a>
          </form>
    </div>
    <script src="/js/answerCheck.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>