<!DOCTYPE html>
<html lang="en">
    <%- include ('head_Tag');%>
<body>
    <%- include ('background');%>
    <%if (locals.error==1) {%>
      
      <div style="display: flex;align-items: center;flex-direction: column;justify-content: center;z-index:5;position: absolute;top:90px;width:100vw">
        <div id="wrongCreds">Wrong Credentials</div>
      </div>
      
      <% } %>
    <div class="levels" style="z-index:5">
        <form action="/login" method="POST" id="login_form"class="formlayout">
            <h2 style="color:rgb(75, 202, 244)">Login</h2>
            <br>
            <div>
              <input type="email" name="email" id="email" value="" class="input-field"placeholder="Enter email"required/>
            </div>
            <div>
              <input type="password" name="password" id="password" class="input-field" placeholder="Enter password" required/>
            </div>
            <br>
            <!-- <a href="" class="neon-btn-nav" id="sub">Log In</a> -->
            <button type="submit" class="neon-btn-nav" id="login">Log In</button>
            <a href="/forgotPassword" class="neon-btn-nav" id="reset" >Forgot Password</a>
            <br>
            <br>
            <!-- <span style="color:rgb(244, 159, 75)">Forgot Password? Enter your registered email in above email field</span> -->
          </form>
    </div>
    <script src="/js/index.js"></script>
    <!-- <script src="js/forgotPassword.js"></script> -->
</body>
</html>