<!DOCTYPE html>
<html lang="en">
    <%- include ('head_Tag');%>
<body>
    <%- include ('background');%>
    <div class="levels" style="z-index:5">
        <img src="/img/smart.gif" alt="">
        <div class="neon-welcome">Act Responsibly!</div>
    </div>
</body>
</html>