<div class="second-head-bar">
  <h1 id="timeSpent" startTime="<%= start_time %>" class="timeSpentBanner"></h1>
  <div id="success">
    <span>SUCCESS!!!</span>
    <span id="accuracy">Accuracy</span>
  </div>
</div>
