<div class="second-head-bar">
  <div id="timeSpent" startTime="<%= start_time %>" class="success timeSpentBanner"></div>
    <div class="success" id="success-mobile">SUCCESS!!!</div>
    <div class="success" id="accuracy">Accuracy</div>
</div>
