<!DOCTYPE html>
<html lang="en">
    <%- include ('head_Tag');%>
<body>
    <%- include ('background');%>
    <div class="levels" style="z-index:5">
        <div class="neon-welcome">WELCOME TO PUZZLE</div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>