html{
    font-size: 62.5%;
}
.input-field {
    width: 30rem;
    font-size: 1.8rem;
    padding: 1rem;
    margin: 0.5rem 0rem;
    background-color: black;
    border: var(--clr-neon-bl) 0.125em solid;
    border-radius: 0.25em;
    color: var(--clr-neon-bl);
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon-bl), 0 0 0.5em 0 var(--clr-neon-bl);
}
#login_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
}
#registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#registerMe{
    margin-top: 1rem;
}
#login, #registerMe, #reset{
    background: transparent;
}
#login:hover, #registerMe:hover, #reset:hover{
    background: var(--clr-neon);
}
.password-conditions{
    /* color: red; */
    font-size: 1.33rem;
    text-decoration: none;
    color: rgb(233, 44, 44);
    text-shadow:0 0 0.125em hsl(0 0% 100% / 0.3) ;
}
.second-head-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: auto;
    z-index: 6;
    position: absolute;
    top:8.1rem;
}
#login-forgot-buttons{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
#reset{
    width:23rem;
}
.form_levelwise{
    position: absolute;
    height: 50vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.question-column{
    z-index:5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 998px) {
    html{
        font-size: 55%;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 45%;
    }
}
/* @media screen and (max-width: 1025px) {
    #reset {
        width: 18vw;
    }
    .input-field{
        padding: 2vw;
        width: 43vw;
        font-size: 2.0vw;
    }
    .password-conditions {
        font-size: 2.2vw;
    }
}
@media screen and (max-width: 981px) and (min-width:979px) {
    #warning {
        top: 150px;
    }
    .neon-btn-nav {
        width: 27vw;
        font-size: 3.6vw;
    }
    .password-conditions {
        font-size: 3vw;
    }
    #reset {
        width: 41vw;
    }
    .input-field {
        padding: 3vw;
        width: 58vw;
        font-size: 2.9vw;
    }
}
@media screen and (max-width: 930px) {
    .neon-btn-nav {
        width: 21.5vw;
        font-size: 3.6vw;
    }
    .input-field{
        padding: 2vw;
        width: 46vw;
        font-size: 3.8vw;
    }
    #reset {
        width: 35vw;
    }
}
@media screen and (max-width: 850px) {
    .input-field{
        padding: 2vw;
        width: 46vw;
        font-size: 3.2vw;
    }
    #reset{
        width:34vw;
    }
    .password-conditions {
        font-size: 2.5vw;
    }
    
}
@media screen and (max-width: 541px) {
    .password-conditions {
        font-size: 1.9vw;
    }
    #warning {
        right: 10px;
    }
}
@media screen and (max-width: 513px) {
    .password-conditions {
        font-size: 2.2vw;
    }
    #warning {
        top: 20px;
    }
}
@media screen and (max-width: 420px) {
    #warning {
        top: 80px;
    }
    .neon-btn-nav {
        width: 27.5vw;
        font-size: 4.5vw;
    }
    .input-field{
        width: 61vw;
        font-size: 4.0vw;
    }
    #reset{
        width:43vw;
    }
    .password-conditions {
        font-size: 3.5vw;
    }
    #registerForm{
        margin-top: 11vh;
    }
}
@media screen and (max-width: 282px) {
    .input-field{
        width: 77vw;
        font-size: 4.9vw;
    }
    .neon-btn-nav {
        width: 25vw;
        font-size: 5vw;
    }
} */
