html{
    font-size: 62.5%;
}
#layout-header{
    z-index: 15;
    color: white;
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:7.7rem;
    position: fixed;
    text-align:center;
    padding: .5rem;
}
.auth-links{
    z-index: 15;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mini-logo{
    font-family: fantasy;
    height: auto;
    width: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titlee{
    font-size: 4rem;
    text-decoration: none;
    color:white;
    height: auto;
    width: auto;
    display: inline-block;
}
.neon-btn-nav {
    z-index: 15;
    width: 13.0rem;
    font-size: 2.0rem;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    text-align: center;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}
.neon-btn-nav:hover{
    background: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
}
.profile-name {
    z-index: 15;
    font-size: 2.8rem;
    margin-right: 2.4rem;
    cursor: pointer;
    text-decoration: none;
    color: rgb(60, 168, 241);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}
@media screen and (max-width: 998px) {
    html{
        font-size: 55%;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 45%;
    }
    #titlee {
        font-size: 2.8rem;
    }
}
/* @media screen and (max-width: 1281px) {
    .neon-btn-nav{
        width: 9vw;
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 1200px) {
    .neon-btn-nav{
        width: 12vw;
        font-size: 1.9vw;
    }
    a{
        font-size: 2.5vh;
    }
    .profile-name {
        font-size: 4.3vw;
    }
    #layout-header{
        height: 120px;
    }
}
@media screen and (max-width: 1025px) {
    #layout-header{
        height: 60px;
    }
    a {
        font-size: 3.2vh;
    }
}
@media screen and (max-width: 981px) {
    .neon-btn-nav {
        width: 23vw;
        font-size: 4vw;
    }
    a {
        font-size: 2.1vh;
    }
    #layout-header {
        height: 100px;
    }
    #reset {
        width: 32vw;
    }
}
@media screen and (max-width: 913px) {
    .neon-btn-nav{
        width:18vw;
        font-size: 3.0vw;
    }
    a {
        font-size: 4.4vh;
    }
    .navbar_background{
        height: 80px;
    }
    #layout-header{
        height: 80px;
    }
}
@media screen and (max-width: 500px) {
    .neon-btn-nav{
        width:19vw;
        font-size: 3.7vw;
    }
    #layout-header{
        height: 90px;
    }
}
@media screen and (max-width: 420px) {
    .neon-btn-nav {
        width: 23vw;
        font-size: 4.2vw;
    }
    a{
        font-size: 4.1vh;
    }
    #titlee {
        font-size: 2.5vh;
    }
    .profile-name {
        font-size: 6.2vw;
    }
    #layout-header{
        height: 80px;
    }
}
@media screen and (max-width: 282px) {
    .input-field {
        width: 67vw;
        font-size: 4.9vw;
    }
    a{
        font-size: 3.1vh;
    }
    #titlee{
        font-size: 3.3vh;
    }
    .profile-name {
        font-size: 6vw;
    }
} */